<html>

    <head>
        <title>DATA KTP
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>







    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">DATA KTP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.blade.php">Home <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <h6 class="form-inline my-2 my-lg-0">Anisa Nurfadila</h6>

            </div>
        </nav>
	
			
            <h3 class="text-center">list data ktp</h3>
			<hr>
			<table class="table">
				<thead class="thead-dark">
					<tr>
                                          <th scope="col">id</th>
						<th scope="col">image</th>
						<th scope="col">name</th>
						<th scope="col">tanggal</th>
						<th scope="col">aksi</th>
                                                <th scope="col"></th>
					</tr>
				</thead>
                                
                                <tbody>
                                    
                                    <tr th:each="dataktp : ${dataKtp}">
                                        <td th:text="${dataktp.id}"></td>
                                        <th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{dataktp.foto}}" style="width: 100px;height: 100px;"></th>
                                         <td th:text="${dataktp.nama}"></td>
                                        <td th:text="${dataktp.tanggal}"></td>
                                    <td><a class="btn btn-warning btn-sm">Edit</a></td>
                    <td><a th:href="@{/deleteKTP/{id}(id=${dataktp.id})}"
							class="btn btn-danger mt-4" onclick="return confirm('Yakin Mau Dihapus ?')">delete</a>
                        
                        </td>
            
                                </tbody>
                        </table>
                        <hr>

        
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>