<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>

    <head>
        <title>DATA KTP
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>







    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">DATA KTP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.blade.php">Home <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <h6 class="form-inline my-2 my-lg-0">Anisa Nurfadila</h6>

            </div>
        </nav>





        <div class="container">
<!--            @if(session('sukses'))
            <div class="alert alert-success" role="alert">
                {{session('sukses')}}
            </div>
            @endif-->
            <div class="row">


                <div class="col-12">
                    <br>
                    <h1>Data KTP</h1>
                </div>
                <div class="col-12">
                    <br>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm floatright" data-toggle="modal" data-target="#exampleModal">
                        Tambah Data
                    </button>
                </div>

                <table class="table table-hover">

                    <tr>
                        <th>ID</th>
                        <th>Tanggal</th>
                        <th>Gambar</th>
                        <th>AKSI</th>
                    </tr>
                 
                    <tr th:each="data:${data}">
                        <td th:text="${data.id}"></td>
                        <td th:text="${data.tanggal}"></td>
                        <td>
                            <img th:src="@{${'/img?id='+data.id}}" alt="poto" width="200">
                        </td>
                        <!--                    <td><a href="/tamu/{{$tamu->id}}/edit" class="btn btn-warning btn-sm">Edit</a></td>
                                            <td><a href="/tamu/delete/{{$tamu->id}}" class="btn btn-warning btn-sm" onclick="return confirm('Yakin Mau Dihapus ?')">Delete</a></td>
                        -->
                    </tr>
                    
                </table>
            </div>
        </div>
















        <div class="modal fade" id="exampleModal" tabindex="-1" arialabelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
                        <button type="button" class="close" data-dismiss="modal" arialabel="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>CREATE DUMMY</div>
                        <hr>
                        <form action="/newdata" method="post" enctype="multipart/form-data">
                            <table>
                                <tr>
                                    <td>Tanggal</td>
                                    <td><input type="date" name="tanggal"></td>
                                </tr><!-- comment -->
                                <tr>
                                    <td>Gambar</td><!-- comment -->
                                     <td><input type="file" name="gambar"></td>
                                </tr>
<!--                                <tr>
                                    <td></td>
                                    <td><button type="submit">Submit</td>
                                     comment 
                                </tr>-->
                                <!--                <tr th:each="godummy:${goDummy}">
                                                    <td th:text="${godummy.id}"></td> comment 
                                                    <td th:text="${calendars.format(godummy.tanggal,'dd-MMM-yyyy')}"></td> comment 
                                                    <td th:text="${godummy.gambar}"></td> comment 
                                                                          <td>
                                                                              <a href="/detil">Detail</a>
                                                                              <a href="/edit">Edit</a> comment 
                                                                              <a href="/delete">Delete</a>
                                                                          </td>
                                                </tr>-->
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" datadismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                    </body>

                    </html>
